body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

div.page a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    padding: 20px 30px;
}

header, header a {
    background: #1b1b1b;
    color: #ffffff;
}

footer {
    background: #bbbbbb;
}

footer img {
    vertical-align: bottom;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #ffffff;
}
